@model JobPortalLibrary.JobSeeker.SeekerUser

@{
    ViewBag.Title = "SeekerDetailsPhoto";
}

@using (Html.BeginForm("SeekerDetailsPhoto", "JobSeeker", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="form-group">

        @*@Html.LabelFor(model => model.ProfileIMG, " Profile Image", htmlAttributes: new { @class = "col-form-label col-md-3 col-sm-3 label-align required" })*@
        <div class="col-md-4 col-sm-4">
            @*<button class="mybtn" style="positon:center;">*@

            <img id="Img" src="" alt="Photo" width="110" height="120" style="border:1px;margin-top:10px;margin-left:20px;" class="rounded-circle" />
           


            <input type="file" id="Photo" name="Photo" onchange="document.getElementById('Img').src = window.URL.createObjectURL(this.files[0])" />

            @*</button>*@

            <div class="form-group" style="margin-left:500px">
                <div class="col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                    <input type="submit" value="SAVE" class="btn btn-primary" />
                </div>
            </div>

        </div>
    </div>
}
