@model JobPortalLibrary.Employer.EmployerUser

<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="myModalContent">
                <div class="modal-header">
                    <h5 class="modal-title">view phone Details</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <dl class="dl-horizontal">
                            
                        </dl>
                        <label> Are you sure you want to Delete this Candidate</label>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn" data-dismiss="modal">
                                <a href="@Url.Action("jobgrid","Employer")"></a>Close
                            </button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
